<mat-grid-list cols="1">
    <img src="../../../assets/fondo-logo-2.jpg">
</mat-grid-list>

<div class="container">
    <form autocomplete="off"
          [formGroup]="loginForm"
          (ngSubmit)="login()">
        <div class="animate__animated animate__fadeInDown animate__slower
                    position-absolute top-50 start-50 translate-middle">
            <div class="row">
                <div class="col-md-12">
                    <label class="form-label">Email</label>
                    <input type="email"
                           class="form-control mb-4"
                           placeholder="Enter your email"
                           formControlName="email">

                    <label class="form-label">Password</label>
                    <input type="password"
                           class="form-control mb-4"
                           placeholder="Enter the password"
                           formControlName="password"
                           >

                    <div class="text-center">
                        <button type="submit"
                                class="btn btn-primary btn-lg">
                            Submit
                        </button>
                    </div>

                    <div class="text-center mt-3">
                        <a class="text-link" routerLink="/auth/register"> Don't have an account?</a>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>

