<div class="row">
    <div class="header-table col">
        <div class="col">
            <img src="../../../assets/logo-enovate-png.png" alt="">
            <button type="submit" class="btn btn-lg float-end">
                Welcome {{ username }}
                <mat-icon svgIcon="bag"></mat-icon>
            </button>
        </div>
    </div>
</div>
<div class="row container mb-5">
    <div (click)="logout()" class="back-container d-flex ps-3">
        <mat-icon> arrow_back </mat-icon>
        <h3 class="ps-2"> Back </h3>
    </div>
</div>


<div class="animate__animated animate__backInLeftanimate__animated animate__backInLeft row justify-content-center">
    <div class="col-11">
        <app-table-products></app-table-products>
    </div>

</div>


