img{
    width: 100vw;
    height: 100vh;
    position: fixed;
    object-fit: cover;
}
.container{
    color: white;
}
.img-log{
    width:20%;
    height:20%;
}
.btn{
    border-radius: 25px;
}
.text-link {
    color: white;
}